/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
    font-family: 'hello_star';
    src: url('fonts/Hello-Star.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base {
	html, body {
		font-family: 'Nunito', sans-serif;
	}
	h1 {
		font-family: 'hello_star', cursive;
	}
}
